<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <article>
        <title></title>
        <author></author>
        <content></content>
    </article>
    <article>
        <title></title>
        <author></author>
        <content></content>
    </article>
    <article>
        <title></title>
        <author></author>
        <content></content>
    </article>
</configuration>