<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-lazy-init="false" default-autowire="byType" default-init-method="" default-destroy-method="">

    <!--scope="singleton"，启动时初始化bean；scope="prototype"，获取时才初始化bean。 —— chap060703-->
    <bean id="car_01" name="car_01_name" class="com.yoong.springfx.domain.Car" scope="singleton">
        <property name="carId" value="carId_001"></property>
        <property name="carBrandName" value="carBrandName_001"></property>
        <property name="carModelName" value="carModelName_001"></property>
    </bean>

    <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"/>

</beans>