<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- DTD的配置方式：将AnnotationAwareAspectJAutoProxyCreator 注册到容器中，在Spring 1.x以及Spring 2.x版本中都可以使用 -->
    <bean id="autoProxyCreator" class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator"></bean>
    <bean id="myAspect" class="org.practice.springfx.book01.part03_aop.ch100101aspectj.MyAspect"></bean>
    <!-- 被代理的目标对象 -->
    <bean id="target" class="org.practice.springfx.api.impl.CalculatorImpl"></bean>


    <!-- XSD的配置方式：将AnnotationAwareAspectJAutoProxyCreator 注册到容器中，在Spring 2.x版本中可以使用 -->
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
    <context:component-scan base-package="org.practice.springfx.book01.part03_aop.ch100101aspectj"></context:component-scan>
    <!-- 被代理的目标对象 -->
    <bean id="calculator" class="org.practice.springfx.api.impl.CalculatorImpl"></bean>

</beans>