<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <!-- <setting name="defaultFetchSize" value="100" /> -->
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>

    <typeHandlers>
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver"
                          value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
                <!-- ?useUnicode=true&amp;characterEncoding=utf8为了支持中文数据的写入 -->
                <property name="url"
                          value="jdbc:sqlserver://localhost:1433;DatabaseName=YunYiSite;"/>
                <property name="username" value="sa"/>
                <property name="password" value="111111"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper-yunyi\AccountsMapper.xml"/>
        <mapper resource="mapper-yunyi\ActiontopagesMapper.xml"/>
        <mapper resource="mapper-yunyi\AdminloginlogsMapper.xml"/>
        <mapper resource="mapper-yunyi\AdminoperationsMapper.xml"/>
        <mapper resource="mapper-yunyi\AdminsMapper.xml"/>
        <mapper resource="mapper-yunyi\AdmintopagesMapper.xml"/>
        <mapper resource="mapper-yunyi\AnswersMapper.xml"/>
        <mapper resource="mapper-yunyi\AttachfileMapper.xml"/>
        <mapper resource="mapper-yunyi\AuthoriesMapper.xml"/>
        <mapper resource="mapper-yunyi\AuthorytopagesMapper.xml"/>
        <mapper resource="mapper-yunyi\BusinesssystemMapper.xml"/>
        <mapper resource="mapper-yunyi\ContactorsMapper.xml"/>
        <mapper resource="mapper-yunyi\CustomereventinsertparamsMapper.xml"/>
        <mapper resource="mapper-yunyi\CustomereventMapper.xml"/>
        <mapper resource="mapper-yunyi\CustomerloginlogsMapper.xml"/>
        <mapper resource="mapper-yunyi\CustomerMapper.xml"/>
        <mapper resource="mapper-yunyi\FeedbackMapper.xml"/>
        <mapper resource="mapper-yunyi\LogResourcedownloadMapper.xml"/>
        <mapper resource="mapper-yunyi\NewsMapper.xml"/>
        <mapper resource="mapper-yunyi\NoticelogsMapper.xml"/>
        <mapper resource="mapper-yunyi\NoticeMapper.xml"/>
        <mapper resource="mapper-yunyi\OnlineresourceMapper.xml"/>
        <mapper resource="mapper-yunyi\PageactionsMapper.xml"/>
        <mapper resource="mapper-yunyi\PagemenusMapper.xml"/>
        <mapper resource="mapper-yunyi\QuestionairesMapper.xml"/>
        <mapper resource="mapper-yunyi\ReCustomerBusinesssystemMapper.xml"/>
        <mapper resource="mapper-yunyi\ReCustomerContactorBusinesssystemMapper.xml"/>
        <mapper resource="mapper-yunyi\ReNoticeBusinesssystemMapper.xml"/>
        <mapper resource="mapper-yunyi\ReNoticeContactorMapper.xml"/>
        <mapper resource="mapper-yunyi\ReNoticeCustomerMapper.xml"/>
        <mapper resource="mapper-yunyi\RequirementinsertparamsMapper.xml"/>
        <mapper resource="mapper-yunyi\RequirementMapper.xml"/>
        <mapper resource="mapper-yunyi\ReResourceBusinesssystemMapper.xml"/>
        <mapper resource="mapper-yunyi\ResaletechproductsMapper.xml"/>
        <mapper resource="mapper-yunyi\ResourceMapper.xml"/>
        <mapper resource="mapper-yunyi\SortMapper.xml"/>
    </mappers>

</configuration>