<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

    <bean id="user" class="org.practice.spring.domain.User" lazy-init="false" init-method="init" destroy-method="destroy">
        <property name="iid" value="20180807180230"></property>
    </bean>

    <bean id="customer" class="org.practice.spring.domain.Customer" autowire="byName">
        <constructor-arg index="0" value="customerId01"></constructor-arg>
        <constructor-arg index="1" value="customerName01"></constructor-arg>
        <!--<property name="car" ref="car"></property>-->
    </bean>

    <bean id="car1" class="org.practice.spring.domain.Car">
        <property name="carId" value="carId01"></property>
        <property name="carBrandName" value="carBrandName01"></property>
        <property name="carModelName" value="carModelName01"></property>
    </bean>

    <!--扫描组件-->
    <!--<context:component-scan base-package="org.practice.spring.domain"></context:component-scan>-->
    <context:component-scan base-package="org.practice.spring.domain2"></context:component-scan>
</beans>