<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Spring 的@PersistenceUnit和@PersistenceContext-->
    <!--PS：Spring注入PersistenceAnnotationBeanPostProcessor，或者继承PersistenceAnnotationBeanPostProcessor的子类，然后注入到spring中，但只能存在一个；-->
    <!--当field上使用了@PersistenceUnit和@PersistenceContext，使用PersistenceAnnotationBeanPostProcessor进行解析。-->
    <!--https://www.cnblogs.com/beiyeren/archive/2013/01/23/2873039.html-->
    <!--<bean id="persistenceAnnotationBeanPostProcessor" class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>-->

    <bean id="myEmf" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="Jpa_helloworld"/>
    </bean>

    <context:component-scan base-package="com.yoong.jpa.api"></context:component-scan>

</beans>